<div class="col-xs-12 pad-0 ingredient-container">
  <div class="header">
    Ingredient Details
  </div>
  <div class="details-content">
    <div class="no-details" *ngIf="ingredients === undefined || ingredients.length === 0">
      * No Details Found
    </div>
    <div class="row items" *ngFor="let ingre of ingredients; let idx = index;">
      <div class="col-xs-4 bold">
        {{ingre.caption}}
      </div>
      <div class="col-xs-8 ellipsis">
        {{ingre.title}}
      </div>
    </div>
  </div>
  <div class="actions">
    <button class="form-control action ok" (click)="close()">Ok</button>
  </div>
</div>
