.ingredientDetailsComponentClass {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  background: white !important;
  z-index: 501;
}

.ingredientDetailsComponentClass .mat-dialog-container {
  padding: 0;
  margin: 0;
}

.ingredient-container {
  max-height: 400px;
}

.header {
  background: var(--primary-off);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: white;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  padding-left: 10px;
}

.details-content {
  max-height: 320px;
  overflow-y: auto;
  padding: 0 10px;
  margin-bottom: 40px;
  overflow-x: hidden;
}

.details-content .items {
  height: 24px;
  line-height: 24px;
  font-size: 16px;
}

.details-content .items:nth-child(odd) {
  background: var(--light-grey);
}

.details-content .bold {
  font-weight: bold;
}

.details-content .ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.actions {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  background: var(--light-grey);
}

button.action.ok {
  padding: 5px 10px;
  font-weight: bold;
  background: var(--light-grey);
  float: right;
  padding-right: 10px;
  width: 100px;
  height: 30px;
  margin: 5px 10px 0 0;
}

button.action.ok:hover {
  color: white;
  background: var(--primary-off);
}

.no-details {
  color: red;
  font-size: 20px;
  padding-left: 5px;
  height: 32px;
  line-height: 32px;
}
