<div class="col-xs-12 pad-lft-rgt-10 ht-60 pad-tp-10">
  <span class="category" (click)="toggleDropdownMenu($event)">All</span>
  <span class="category-dropdown">
    <ul>
      <li>
        <a href="">All</a>
      </li>
      <li>
        <a href="">Ingredient Combination</a>
      </li>
      <li>
        <a href="">Price</a>
      </li>
      <li>
        <a href="">Product</a>
      </li>
      <li>
        <a href="">Profile</a>
      </li>
    </ul>
  </span>
  <input type="text" class="search-text" placeholder="Enter products for search..." />
  <span class="saerch"><i class="fas fa-search"></i></span>
</div>
