.pad-lft-rgt-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.pad-tp-10 {
    padding-top: 10px;
}

.ht-60 {
    height: 60px;
}

.lh-60 {
    line-height: 60px;
}

.category {
    display: inline-block;
    width: 150px !important;
    background: var(--light-orange);
    color: var(--white);
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
}

.category::after {
  content: '▼';
  position: relative;
  color: var(--white);
  float: right;
  padding-right: 5px;
}

.category-dropdown {
  position: absolute;
  left: 5px;
  top: 50px;
  overflow: hidden;
  padding: 0 5px 5px 5px;
}

.category-dropdown > ul {
  padding: 0px;
  overflow: hidden;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  min-width: 200px;
}

.category-dropdown > ul > li {
  list-style: none;
  background: var(--white);
  padding: 5px 10px;
  height: 40px;
  line-height: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  box-sizing: border-box;
}

.category-dropdown > ul > li > a {
  color: var(--black);
  text-decoration: none;
}

.category-dropdown > ul > li:hover {
  border-left: 5px solid var(--light-orange);
  background: var(--light-grey);
  cursor: pointer;
}

.category-dropdown > ul > li:hover > a {
  font-weight: bold;
}

.category + .category-dropdown > ul {
  height: 0;
  transform: translateY(-100%);
  transition: all 0.3s;
}

.category.open + .category-dropdown > ul {
  transform: translateY(0);
  height: auto;
  transition: all 0.3s;
}

.search-text {
    all: unset;
    height: 38px;
    border: 1px solid var(--light-orange);
    background: var(--white);
    margin: 0;
    padding: 0;
    text-indent: 5px;
    position: absolute;
    left: 160px;
    width: calc(100% - 210px);
}

.saerch {
    width: 40px;
    height: 40px;
    line-height: 40px;
    float: right;
    background: var(--light-orange);
    color: var(--white);
    font-size: 20px;
    padding-left: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.category:hover, .saerch:hover {
  background: var(--light-orange);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1) inset;
}
