.title {
  float: left;
  line-height: 60px;
  color: white;
  text-shadow: 0px 0px 3px var(--light-orange);
  font-weight: bold;
}

ul {
  list-style: none;
  display: flex;
  padding-left: 15px;
}

ul li {
  margin: 23px 10px;
  height: 12px;
  width: 12px;
  cursor: pointer;
  border: 1px solid var(--white);
}
