<div class="col-xs-12 pad-0">
  <div class="inbox open" (click)="toggleInboxSubMenu($event)">
    <i class="fas fa-inbox"></i>
  </div>
  <div class="inbox-dropdown">
    <div class="inbox-content">
      <div class="inbox-content-header">
        Notification
      </div>
      <ul class="favourite-task">
        <li *ngFor="let product of favProducts; let idx = index;">
          <div class="company-logo" [style.backgroundColor]="product.random.color">
            <span *ngIf="product.image === undefined || product.image === ''">
              {{product.firstName[0] + product.lastName[0]}}
            </span>
            <img *ngIf="product.image" src="product.image" />
          </div>
          <div class="details">
            <div class="product-name">{{product.name}} {{product.random.decimal}}</div>
            <div class="product-description">{{product.description}}</div>
            <div class="rating">
              <app-rating rate="{{product.rating}}"></app-rating>
            </div>
          </div>
        </li>
      </ul>
      <ul class="normal-task">
        <li *ngFor="let product of products; let idx = index;">
            <div class="company-logo" [style.backgroundColor]="product.random.color">
            <span *ngIf="product.image === undefined || product.image === ''">
              {{product.firstName[0] + product.lastName[0]}}
            </span>
            <img *ngIf="product.image" src="product.image" />
          </div>
          <div class="details">
            <div class="product-name">{{product.name}} {{product.random.decimal}}</div>
            <div class="product-description">{{product.description}}</div>
            <div class="rating">
              <app-rating rate="{{product.rating}}"></app-rating>
            </div>
          </div>
        </li>
      </ul>
      <div class="see-all-notification">
        See All Notification
      </div>
    </div>
  </div>
</div>
