.header {
  background: var(--light-black);
  position: fixed;
  z-index: 100;
  border-bottom: 0.1px solid var(--white);
}

.ht-60 {
    height: 60px;
}

.logo > .logo-text {
  display: inline-block;
  float: left;
  height: 50px;
  line-height: 50px;
  width: 50px;
  text-align: center;
  position: relative;
  margin: 5px;
  border-radius: 50%;
  background: var(--light-orange);
  color: var(--white);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3) inset;
  font-size: 32px;
  font-family: 'Impact', monospace;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 10px var(--light-orange);
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.inbox {
  width: 75px;
}

.themes {
  width: calc(33.33% - 225px);
}
.user-info {
  width: 150px;
}
