<div class="col-xs-12 pad-0 ht-60 header">
  <div class="col-xs-12 col-md-4 pad-0 logo">
    <img src="../../../assets/logo1.png" />
    <span class="title">
      Compare Products
    </span>
  </div>
  <div class="col-xs-12 col-md-4 pad-0">
    <app-search-bar></app-search-bar>
  </div>
  <div class="col-xs-12 col-md-1 pad-0 inbox">
    <app-inbox></app-inbox>
  </div>
  <div class="col-xs-12 col-md-2 pad-0 themes">
    <app-themes></app-themes>
  </div>
  <div class="col-xs-12 col-md-1 pad-0 user-info">
    <app-user-info></app-user-info>
  </div>
</div>
