<div class="col-xs-12 pad-0">
  <app-header></app-header>
  <div class="col-xs-12 pad-0 progress-bar"></div>
  <div class="progress-bar-percent">
    {{percentage.toFixed(1) + '%'}}
  </div>
  <div class="col-xs-12 pad-0 body-content">
    <div class="col-xs-12 pad-0 side-bar">
      <ul>
        <li>
          <a href="">
            <span class="img-filter">
              <i class="fas fa-rupee-sign"></i>
            </span>
            <span class="label">
              Currency
            </span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="img-filter">
              <i class="fas fa-filter"></i>
            </span>
            <span class="label">
              Filter
            </span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="img-filter">
              <i class="fas fa-language"></i>
            </span>
            <span class="label">
              Language
            </span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="img-filter">
              <i class="fas fa-network-wired"></i>
            </span>
            <span class="label">
              Network
            </span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="img-filter">
              <i class="fab fa-searchengin"></i>
            </span>
            <span class="label">
              Search
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 pad-0">
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
      Body Content<br/>
    </div>
  </div>
</div>
