<div class="col-xs-12 pad-0">
  <app-header></app-header>
  <div class="col-xs-12 pad-0 progress-bar"></div>
  <div class="progress-bar-percent">
    {{percentage.toFixed(1) + '%'}}
  </div>
  <div class="col-xs-12 pad-0 body-content">
    <div class="col-xs-12 pad-0 side-bar">
      <ul>
        <li>
          <a href="">
            <span class="img-filter">
              <i class="fas fa-rupee-sign"></i>
            </span>
            <span class="label">
              Currency
            </span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="img-filter">
              <i class="fas fa-filter"></i>
            </span>
            <span class="label">
              Filter
            </span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="img-filter">
              <i class="fas fa-language"></i>
            </span>
            <span class="label">
              Language
            </span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="img-filter">
              <i class="fas fa-network-wired"></i>
            </span>
            <span class="label">
              Network
            </span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="img-filter">
              <i class="fab fa-searchengin"></i>
            </span>
            <span class="label">
              Search
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 pad-0">
      <div class="col-xs-12 content">
        <div class="col-xs-12 pad-0 body">
          <div class="col-xs-9 pad-0 pad-right-5">
            <div class="products-search">
              <div class="title">
                Product Search
              </div>
              <div class="suggestion-list">
                <div class="suggestion-item" *ngFor="let prod of productList; let pudIdx = index;">
                  <div class="item">
                    <div class="ingredients" title="Ingredients details..." (click)="openIngredientBox(prod)">
                      <i class="fas fa-info"></i>
                    </div>
                    <div class="switch" (click)="toggleFrontRear($event)">
                      <div class="toggle">
                          <div class="inner"></div>
                      </div>
                    </div>
                    <div class="legend">
                      <div class="front-legend">
                        <span>F</span>
                        ront
                      </div>
                      <div class="rear-legend">
                        <span>R</span>
                        ear
                      </div>
                    </div>
                    <div class="front">
                      Test Front
                    </div>
                    <div class="rear">
                      Test Rear
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-suggestion">
              <div class="title">
                Suggestions
              </div>
              <div class="suggestion-list">
                <div class="suggestion-item" *ngFor="let sug of suggestionList; let sugIdx = index;">
                  <div class="item-content">
                    <div class="arrow">▲</div>
                    <div class="image"></div>
                    <div class="content"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-3 pad-0">
            <app-advertisement [advertisements]="advertisements"></app-advertisement>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
