:root {
  --scroll: 0;
}

.pad-right-5 {
  padding-right: 5px !important;
}

.progress-bar {
  height: 5px;
  width: var(--scroll);
  background: var(--black);
  position: fixed;
  top: 60px;
  border-right: 10px solid var(--red);
  box-sizing: border-box;
}

.progress-bar-percent {
  position: fixed;
  right: 5px;
  bottom: 5px;
  font-size: 100px;
  color: lightyellow;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.side-bar {
  width: 100px;
  top: 65px;
  height: calc(100vh - 65px);
  background: var(--primary-off);
  position: fixed;
  z-index: 2;
}

.side-bar > ul {
  position: relative;
  padding: 0px;
}

.side-bar > ul > li {
  height: 80px;
  width: 80px;
  list-style: none;
  background: linear-gradient(#aaa, #eee, #fff, var(--secondary-off));
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
  border-radius: 0 15px 0 15px;
  cursor: pointer;
  position: relative;
  transition: all 0.5s;
}

.side-bar > ul > li > a {
  text-decoration: none;
  color: #333;
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 0);
  transition: all 0.5s;
}

.side-bar > ul > li:hover {
  background: var(--secondary-off);
}

.side-bar > ul > li > a > .img-filter {
  font-size: 32px;
  opacity: 1;
  color: #333;
}

.side-bar > ul > li > a > .label {
  opacity: 0;
  font-size: 8px;
  bottom: 0px;
  position: relative;
  transition: all 0.3s;
}

.side-bar > ul > li:hover > a > .img-filter {
  color: var(--white);
  text-shadow: 0px 0px 5px var(--red);
}

.side-bar > ul > li:hover > a > .label {
  opacity: 1;
  color: #fff;
  font-size: 12px;
  bottom: 5px;
  text-shadow: 0px 0px 5px var(--black);
}

.side-bar + div {
  padding-left: 100px !important;
  width: 100%;
}

.content {
  padding: 65px 10px 10px 10px;
}

.products-search {
  min-height: 700px;
  max-height: 700px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 0 10px 0 10px;
  overflow-y: auto;
}

.products-search .title {
  font-size: 24px;
  padding-left: 10px;
  font-weight: bold;
  color: var(--primary);
}

.product-suggestion {
  margin-top: 15px;
  min-height: 300px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 0 10px 0 10px;
}

.product-suggestion .title {
  font-size: 24px;
  padding-left: 10px;
  font-weight: bold;
  color: var(--primary);
}

.advertisement {
  border-radius: 0px 10px 0 10px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  min-height: calc(100vh - 80px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.advertisement .title {
  font-size: 22px;
  color: var(--white);
  background: var(--primary-off);
  padding: 10px;
  border-radius: 0px 5px 0px 0px;
}

.advertisement .gear {
  float: right;
}

.advertiment-container {
  overflow-y: scroll;
  max-height: calc(100vh - 130px);
}

.advertisement-list {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.advertisement-list img {
  display: inline-block;
  height: 60px;
  width: 60px;
  padding: 10px;
  float: left;
}

.advertisement-list:nth-child(odd) {
  background: #eee;
  padding-top: 20px;
  padding-bottom: 20px;
}

.advertisement-list .details {
  display: inline-block;
  width: calc(100% - 70px);
  padding: 10px;
  float: right;
}

.advertisement-list .advertisement-title {
  color: var(--primary-off);
  font-size: 1.2em;
  font-weight: bold;
}

.advertisement-list .advertisement-description {
  font-size: 13px;
  color: var(--black);
}

.advertisement-list .link {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  font-size: 12px;
}

.suggestion-item .item {
  height: 240px;
  width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px 0 10px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  float: left;
  padding: 10px;
  margin: 10px;
  position: relative;
  overflow: hidden;
}

.suggestion-item .item .front, .suggestion-item .item .rear {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 175px;
  width: 300px;
  z-index: 0;
  border-radius: 10px 0 10px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #999900, #ffff00);
  filter: blur(0px);
  transition: all 0.3s;
}

.suggestion-item .item .rear {
  left: 85px;
  top: 40px;
  z-index: -1;
  background: linear-gradient(0deg, #009900, #00bb00);
  filter: blur(10px);
}

.suggestion-item .item .switch.open ~ .front {
  left: 85px !important;
  top: 40px !important;
  z-index: -1 !important;
  filter: blur(10px) !important;
}

.suggestion-item .item .switch.open ~ .rear {
  left: 10px !important;
  top: 10px !important;
  z-index: 0 !important;
  filter: blur(0px) !important;
}

.suggestion-item .item .ingredients {
  position: absolute;
  top: 7px;
  right: 7px;
  height: 20px;
  width: 20px;
  color: var(--black);
  line-height: 20px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
  background: var(--light-gray);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s;
}

.suggestion-item .item .ingredients:hover {
  background: var(--black);
  color: var(--white);
}

.suggestion-item .item .switch {
  position: absolute;
  bottom: -10px;
  left: 4px;
}

/** Toggle button css **/
.toggle {
  position: relative;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 30px;
  transform: translate(-50%, -50%);
  background: linear-gradient(0deg, #ccc, #e5e5e5);
  border-radius: 25px;
}

.toggle .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(50px - 10px);
  height: calc(30px - 10px);
  transform: translate(-50%, -50%);
  background: linear-gradient(0deg, #999900, #ffff00);
  border-radius: calc(25px - 10px)
}

.toggle .inner:before {
  content: 'F';
  position: absolute;
  height: calc(30px - 10px);
  width: calc(30px - 10px);
  left: 0;
  text-align: center;
  line-height: calc(30px - 10px);
  color: var(--black);
  border-radius: 50%;
  border: rgba(0,0,0,.5);
  background: linear-gradient(0deg, #ccc, #fff);
  transition: 0.5s;
  cursor: pointer;
  font-size: 0.8em;
}

.switch.open .toggle .inner {
  background: linear-gradient(0deg, #009900, #00bb00);
  box-shadow: 0 0 10px rgba(0,0,0,.2) inset;
}

.switch.open .toggle .inner:before {
  left: calc(100% - 30px + 10px);
  content: 'R';
  color: var(--black);
}
